<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397918013314-on17ood5thfecuu0lg615qmq25kbrmv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397918013314-on17ood5thfecuu0lg615qmq25kbrmv4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>397918013314-6172pq788psnmn8o9hopriql009nk1dt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA7RsQ9BaTGcuRSe_qBbuROBSb-Ybgz-lw</string>
	<key>GCM_SENDER_ID</key>
	<string>397918013314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dalwesley.stway</string>
	<key>PROJECT_ID</key>
	<string>trilha-biblia</string>
	<key>STORAGE_BUCKET</key>
	<string>trilha-biblia.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397918013314:ios:9ae052b33810756552f19b</string>
</dict>
</plist>